.body {
    font-family:'Open Sans', sans-serif;
}

.home {
    font-family:'Open Sans', sans-serif;
    text-align: left;
}

.formulario {
    text-align: center;
}
.footer {
    text-align: center;
}
